@model DBMProject.Models.ProjectsManagement.Projeto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technology)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technology)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectFileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjetoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
