@model IEnumerable<DBMProject.Models.ProjectsManagement.Projeto>

@{
    ViewData["Title"] = "Validar Projetos";
}

<h2>Lista de Projetos por validar</h2>

<div class="table-responsive">
    <table class="table table-hover thead-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Technology)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Validado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectFileName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technology)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Validado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectFileName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProjetoId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProjetoId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProjetoId">Delete</a> |
                        <a asp-action="ValidarProjeto" asp-route-id="@item.ProjetoId" class="btn-success">Validar Projecto</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
