@model IEnumerable<DBMProject.Models.ProjectsManagement.Projeto>

@{
    ViewData["Title"] = "Lista de Projetos";
}




<h3>Projetos Disponíveis</h3>
<hr />

<div class="top_bar_listagem">

    @using (Html.BeginForm("Search", "Projetos", FormMethod.Post))
    {
        <table>
            <tr>
                <th>
                    @Html.TextBox("textoProcura")
                </th>
                <td>
                    <input type="submit" id="ButtonProcura" value="Procurar" />
                </td>
            </tr>
        </table>
    }

    <p>
        <a asp-action="Create">Submeter Projeto <img src="~/images/upload_icon.png" /></a>
    </p>

    <div class="tipos_listagem">
        <a asp-area="" asp-action="IndexLista"><img src="~/images/list_list.png" style="width:50px; height:50px;" /></a>
        <a asp-area="" asp-action="IndexHex"><img src="~/images/list_hex.png" style="width:50px; height:50px;" /></a>
        <a asp-area="" asp-action="Index"><img src="~/images/list_card.png" style="width:50px; height:50px;" /></a>
    </div>
</div>



<div class="cards_container">

    @foreach (var item in Model)
    {



        <div class="card">
            <div class="thumbnail"><img class="left" src="@Html.DisplayFor(modelItem => item.Imagem)" /></div>
            <div class="right">
                <div class="titulo_cartao">@Html.DisplayFor(modelItem => item.ProjectName)</div>
                <div class="author">
                    <img src="https://randomuser.me/api/portraits/men/95.jpg" />
                    <div class="autor_nome">@Html.DisplayFor(modelItem => item.Autor)</div>
                </div>
                <div class="separator"></div>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Description)</strong> :
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <p><strong>@Html.DisplayNameFor(model => model.Technology) :</strong> @Html.DisplayFor(modelItem => item.Technology) </p>
            </div>
            <div>
                @{ if (item.Classificacao >= 1 && item.Classificacao < 2)
                    { <img src="~/images/1stars.png" /> }
                    else if (item.Classificacao >= 2 && item.Classificacao < 3)
                    { <img src="~/images/2stars.png" /> }
                    else if (item.Classificacao >= 3 && item.Classificacao < 4)
                    {<img src="~/images/3stars.png" />}
                    else if (item.Classificacao >= 4 && item.Classificacao < 5)
                    {<img src="~/images/4stars.png" />}
                    else if (item.Classificacao >= 5)
                    {<img src="~/images/5stars.png" />}
                    else
                    {<img src="~/images/nostars.png" />}
                }
            </div>

            <ul>
                <li><a asp-area="" asp-controller="Comentarios" asp-action="ListarComentarios" asp-route-id="@item.ProjetoId"><img src="~/images/comments.png" /></a></li>
                <li> <a asp-action="Details" asp-route-id="@item.ProjetoId"><img src="~/images/info.png" /></a></li>
            </ul>


            @*<div class="fab"> @Html.ActionLink("Download", "DownloadProject", new { @class="fab", searchName = item.ProjectFileName, fileName = item.ProjectName })</div>*@
            @Html.ActionLink("", "DownloadProject", new { searchName = item.ProjectFileName, fileName = item.ProjectName }, new { @class = "fab" })
        </div>


    }

</div>

























