@model IEnumerable<DBMProject.Models.ProjectsManagement.Projeto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Technology)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Validado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NrDeVotos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectFileName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicDegree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrDeVotos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicDegree.AcademicDegreeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjetoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjetoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjetoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
