@model IEnumerable<DBMProject.Models.Comentario>

@{
    ViewData["Title"] = "ListarComentarios";
}




<p>
    @Html.ActionLink("Criar Comentário", "Create", "Comentarios", new { projId = @ViewBag.ProjeId })


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ComentarioId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ComentarioId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.ComentarioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Voltar para lista", "Index", "Projetos")


</p>
