@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model IEnumerable<DBMProject.Models.Comentario>

@{
    ViewData["Title"] = "Listar Comentarios";
}




<p>
    @Html.ActionLink("Criar Comentário", "Create", "Comentarios", new { projId = @ViewBag.ProjeId })


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ComentarioId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ComentarioId">Details</a> |*@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        // is the current user authorized to see the next part of the page?
                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ComentarioId">Apagar</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Voltar para lista", "Index", "Projetos")


</p>
